<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Discord premier prix</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/main.css">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			console.log('loaded');

			var socket = io();
			console.log('created socket')

			socket.on('response', function (msg) {
				console.log('rcv');
				var a = document.createElement('p');
				var date = new Date(msg.time * 1000);
				var hours = date.getHours();
				var minutes = "0" + date.getMinutes();
				var seconds = "0" + date.getSeconds();
				var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
				a.innerHTML = "<i>" + formattedTime + "</i> <strong>" + msg.user + "</strong> : " + msg.data;
				document.getElementById('messages').append(a);
			});
			socket.on('connectserv', function (msg) {
				var a = document.createElement('p');
				a.innerHTML = "<u><strong>" + msg.data + " à rejoint le chat </strong></u>";
				document.getElementById('messages').append(a);
			});
			socket.on('disconnectserv', function (msg) {
				var a = document.createElement('p');
				a.innerHTML = "<u><strong>" + msg.data + " à quitté le chat </strong></u>";
				document.getElementById('messages').append(a);
			});

			$('form').submit(function (event) {
				console.log('emited');
				var a = document.cookie;
				var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)userID\s*\=\s*([^;]*).*$)|^.*$/, "$1");
				socket.emit('chat message', {
					data: $('#message').val(),
					user: cookieValue
				});
				return false;
			});
		});
		window.setInterval(function () {
			var elem = document.getElementById('messages');
			elem.scrollTop = elem.scrollHeight;
		}, 100);
	</script>
</head>

<body>
	<div id="container">
		<form method="POST" action="/chatpost">
			<input type="text" name="message" id="message"></input>
			<input type="submit" id="submit">
		</form>
		<div id="messages">

		</div>
	</div>
	<iframe width="1" height="1" src="https://www.youtube.com/embed/QQ29VpFYcas?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
	 allowfullscreen autoplay></iframe>
</body>

</html>